*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp

exp_*/data/*
exp_*/tfmodel
exp_*/tfmodel/*
exp_*/pytorch_ckpt/*
exp_*/results*
exp_*/results*/*
exp_*/tb
exp_*/tb/*
exp_*/log/*
exp_*/vis/*
exp_*/__obsolete__/*
exp_*/eval_outputs*/*

*.caffemodel
*.tfmodel*
*.ckpt

*-Copy*.ipynb

checkpoint
.DS_Store
.vscode
events.out.tfevents.*

exp_clevr/clevr_dataset
exp_clevr/clevr_locplus_dataset
exp_gqa/gqa_dataset
